{% extends "base.html" %} {% block title %}Init Tracker{% endblock %} {% block
content %}
<h1>Add Character</h1>
<form action="#" method="post">
  <div class="input-group mb-3">
    <label
      class="input-group-text w-25 d-inline-block"
      style="font-size: 1.6em; text-align: left"
      >Name:</label
    >
    <input
      type="text"
      name="name-input"
      class="form-control"
      placeholder="Snow"
      aria-describedby="basic-addon1"
      style="font-size: 1.6em; text-align: left"
      autofocus
    />
  </div>
  <div class="input-group mb-3">
    <label
      class="input-group-text w-25 d-inline-block"
      style="font-size: 1.6em; text-align: left"
      >Initiative:</label
    >
    <input
      type="number"
      name="initiative-input"
      class="form-control"
      placeholder="10"
      aria-describedby="basic-addon1"
      style="font-size: 1.6em; text-align: left"
    />
  </div>
  <div class="input-group mb-3">
    <label
      class="input-group-text w-25 d-inline-block"
      style="font-size: 1.6em; text-align: left"
      >Dexterity:</label
    >
    <input
      type="number"
      name="dexterity-input"
      class="form-control"
      placeholder="10"
      aria-describedby="basic-addon1"
      style="font-size: 1.6em; text-align: left"
    />
  </div>
  <div class="input-group mb-3">
    <label
      class="input-group-text w-25 d-inline-block"
      style="font-size: 1.6em; text-align: left"
      >Seat Number:</label
    >
    <input
      type="number"
      name="seat-input"
      class="form-control"
      placeholder="0"
      aria-describedby="basic-addon1"
      style="font-size: 1.6em; text-align: left"
    />
  </div>

  <div class="row row-cols-2 p-3 gx-4">
    <div class="col">
      <button
        type="submit"
        name="save"
        value="add_player_submit"
        class="btn btn-custom btn-lg w-100"
      >
        ADD CHARACTER
      </button>
    </div>
    <div class="col">
      <button
        type="submit"
        name="back"
        value="add_player_back"
        class="btn btn-custom btn-lg w-100"
      >
        Back
      </button>
    </div>
  </div>
</form>
{% endblock %}
