{% extends "base.html" %} {% block title %}Init Tracker{% endblock %} {% block
content %}
<h1 class="display-3">Init Tracker</h1>
<form action="#" method="post">
  <div class="d-flex flex-column flex-wrap" style="height: 500px">
    {% for character in content %}
    <div class="input-group mb-3" style="width: 550px">
      <label class="input-group-text w-25 d-inline-block">
        {{ character.name }}</label
      >
      <input
        type="text"
        class="form-control"
        placeholder="1-10"
        aria-describedby="basic-addon1"
        name="{{ character.name }}"
        value="{{ character.initiative }}{% if character.is_current %} - CURRENT{% elif character.is_next %} - NEXT{% endif %}"
      />
      <button
        class="btn d-inline-block btn-{% if character.enabled %}success{% else %}danger{% endif %}"
        type="submit"
        id="button-addon1"
        value="{{ character.name }}"
        name="enable"
        style="width: 100px"
      >
        {% if character.enabled %}Enabled{% else %}Disabled{% endif %}
      </button>
      <button class="btn d-inline-block btn-light">
        {{ character.ac }}
        <i class="bi bi-shield" style="font-size: 1em; color: black"></i>
      </button>
      <button class="btn d-inline-block btn-light">
        {{ character.pass_per }}
        <i class="bi bi-eye" style="font-size: 1rem; color: black"></i>
      </button>
      <button class="btn d-inline-block btn-light">
        {{ character.pass_int }}
        <i class="bi bi-search" style="font-size: 1em; color: black"></i>
      </button>
    </div>
    {% endfor %}
    <!-- for item in players -->
  </div>

  <div class="row row-cols-4 p-3">
    <div class="col text-center">
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        name="button"
        value="add_player"
      >
        ADD PLAYER
      </button>
    </div>
    <div class="col text-center">
      <button
        type="submit"
        class="btn btn-success btn-lg"
        name="button"
        value="sort"
      >
        SORT CHARACTERS
      </button>
    </div>
    <div class="col text-center">
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        name="button"
        value="reset"
      >
        RESET
      </button>
    </div>
    <div class="col text-center">
      <button
        type="submit"
        class="btn btn-danger btn-lg"
        name="button"
        value="next"
      >
        NEXT
      </button>
    </div>
  </div>
</form>
{% endblock %}
