{% extends "base.html" %} {% block title %}Init Tracker{% endblock %} {% block
content %}
<form action="#" method="post">
  <div class="row mh-80 h-80">
    <div class="col">
      <div class="d-flex flex-column">
        {% for character in content %}{% if character.is_player == True %}
        <div class="input-group mb-3">
          <label
            class="input-group-text w-25 text-left"
            style="font-size: 1.2em; text-align: left"
          >
            {% if character.is_player == True %}<i
              class="fas fa-dice-d20 p-2"
            ></i
            >{% else %}{% endif %}{{ character.name }}</label
          >
          <input
            type="text"
            class="form-control {% if character.is_current %}current{% elif character.is_next %}next{% endif %}"
            placeholder="1-10"
            aria-describedby="basic-addon1"
            name="{{ character.name }}"
            value="{{ character.initiative }}{% if character.is_current %} - CURRENT{% elif character.is_next %} - NEXT{% endif %}"
          />
          <button
            class="btn d-inline-block btn-{% if character.enabled %}success{% else %}danger{% endif %}"
            type="submit"
            id="button-addon1"
            value="{{ character.name }}"
            name="enable"
            style="min-width: 100px"
          >
            {% if character.enabled %}Enabled{% else %}Disabled{% endif %}
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.ac }}
            <i
              class="fas fa-shield-alt"
              style="font-size: 1em; color: black"
            ></i>
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.pass_per }} {% if character.pass_per|int > 12 %}
            <i class="fas fa-eye" style="font-size: 1rem; color: red"></i>
            {% else %}
            <i class="fas fa-eye" style="font-size: 1rem; color: black"></i>
            {% endif %}
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.pass_int }} {% if character.pass_int|int > 12 %}
            <i class="fas fa-search" style="font-size: 1em; color: red"></i>
            {% else %}
            <i class="fas fa-search" style="font-size: 1rem; color: black"></i>
            {% endif %}
        </div>
        {% endif %} {% endfor %}
        <!-- for item in players -->
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column">
        {% for character in content %} {% if character.is_player == False %}
        <div class="input-group mb-3" >
          <label
            class="input-group-text w-25 text-left"
            style="font-size: 1.2em; text-align: left"
          >
            {% if character.is_player == True %}<i
              class="bi bi-person-circle px-2"
            ></i
            >{% else %}{% endif %}{{ character.name }}</label
          >
          <input
            type="text"
            class="form-control {% if character.is_current %}current{% elif character.is_next %}next{% endif %}"
            placeholder="1-10"
            aria-describedby="basic-addon1"
            name="{{ character.name }}"
            value="{{ character.initiative }}{% if character.is_current %} - CURRENT{% elif character.is_next %} - NEXT{% endif %}"
          />

          <button
            class="btn d-inline-block btn-danger"
            type="submit"
            id="button-addon1"
            value="{{ character.name }}"
            name="remove"
            style="width: 100px"
          >
            Remove
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.ac }}
            <i
              class="fas fa-shield-alt"
              style="font-size: 1em; color: black"
            ></i>
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.pass_per }}
            <i class="fas fa-eye" style="font-size: 1rem; color: black"></i>
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.pass_int }}
            <i class="fas fa-search" style="font-size: 1em; color: black"></i>
          </button>
        </div>
        {% endif %} {% endfor %}
        <button
          type="submit"
          class="btn btn-monster btn-lg"
          name="monster"
          value="add_monster"
        >
          <i class="fas fa-skull"></i>
          ADD MONSTER
        </button>
        <!-- for item in players -->
      </div>
    </div>
  </div>

  <div class="row row-cols-4 p-3 mh-15 h-15" >
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100"
        name="button"
        value="add_player"
      ><i class="fas fa-plus"></i>
        ADD PLAYER
      </button>
    </div>
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100"
        name="button"
        value="sort"
      ><i class="fas fa-sort"></i>
      SORT
      </button>
    </div>
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100"
        name="button"
        value="next"
      ><i class="fas fa-step-forward"></i>
        NEXT
      </button>
    </div>
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100"
        name="button"
        value="reset"
      ><i class="fas fa-power-off"></i>
        RESET
      </button>
    </div>
  </div>

  {% endblock %}
</form>
