{% extends "base.html" %} {% block title %}Init Tracker{% endblock %}
{% block content %}
<form action="#" method="post">
  <div class="row mh-80 h-80">
    <div class="col">
      <div class="d-flex flex-column">
        {% for character in content %}{% if character.is_player == True %}
        <div class="row gx-2 mb-3 h-100" style="flex-wrap:nowrap">
        <div class="h-100" style="width:215px;">
          <label
            class="input-group-text text-left"
            style="font-size: 1.7em; text-align: left"
          >
            {% if character.is_player == True %}<i
              class="fas fa-dice-d20 p-2"
            ></i
            >{% else %}{% endif %}{{ character.name }}</label>
        </div>
        <div class="h-100" style="width:90px;">
          <input
            type="text"
            class="form-control-xlg w-100 {% if character.is_current %}current{% elif character.is_next %}next{% endif %}"
            placeholder="1-10"
            aria-describedby="basic-addon1"
            name="{{ character.name }}"
            value="{{ character.initiative }}"
            onfocus="this.value=''"
          />
        </div>
        <div class="h-100 text-center" style="width:140px;">
          <button
            class="btn btn-xlg btn-{% if character.enabled %}success{% else %}danger{% endif %}"
            type="submit"
            id="button-addon1"
            value="{{ character.name }}"
            name="enable"
            style="min-width: 100px"
          >
            {% if character.enabled %}Enabled{% else %}Disabled{% endif %}
          </button>
        </div>
        <div class="h-100" style="width:140px;">
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.ac }}
            <i
              class="fas fa-shield-alt"
              style="font-size: 1em; color: black"
            ></i>
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.pass_per }} {% if character.pass_per|int > 12 %}
            <i class="fas fa-eye" style="font-size: 1rem; color: red"></i>
            {% else %}
            <i class="fas fa-eye" style="font-size: 1rem; color: black"></i>
            {% endif %}
          </button>
          <button class="btn d-inline-block btn-light" style="width: 40px">
            {{ character.pass_inv }} {% if character.pass_inv|int > 12 %}
            <i class="fas fa-search" style="font-size: 1em; color: red"></i>
            {% else %}
            <i class="fas fa-search" style="font-size: 1rem; color: black"></i>
            {% endif %}
          </button>
        </div>
        <div class="h-100">
          <button class="btn d-inline-block btn-light" type="submit" name="summon" value="{{ character.name }}">
            <i
              class="fas fa-plus"
              style="font-size: 2.8em; color: darkslategray"
            ></i>
          </button>
        </div>
      </div>
        {% endif %} {% endfor %}
        <!-- for item in players -->
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column">
        {% for character in content %} {% if character.is_player == False %}
        <div class="row gx-2 mb-3 h-100" style="flex-wrap:nowrap">
          <div class="h-100" style="width:215px;">
          <label
            class="input-group-text text-left"
            style="font-size: 1.7em; text-align: left"
          >
            {% if character.is_monster == True %}<i class="fas fa-skull p-2" Style="color:red"></i>{% else %}<i class="fas fa-user p-2"></i>{% endif %}{{ character.name }}</label
          >
        </div>
        <div class="h-100" style="width:90px;">
          <input
            type="text"
            class="form-control-xlg w-100 {% if character.is_current %}current{% elif character.is_next %}next{% endif %}"
            placeholder="1-10"
            aria-describedby="basic-addon1"
            name="{{ character.name }}"
            value="{{ character.initiative }}"
            onfocus="this.value=''"
          />
        </div>
        <div class="h-100 text-center" style="width:140px;">
          <button
            class="btn btn-xlg btn-danger"
            type="submit"
            id="button-addon1"
            value="{{ character.name }}"
            name="remove"
          >
            Remove
          </button>
        </div>
        <div class="h-100" style="width:90px;">
          <input
            type="text"
            class="form-control-xlg w-100 {% if dex == character.name %}dex_miss{% endif %}"
            placeholder="DEX"
            aria-describedby="basic-addon1"
            name="DEX{{ character.name }}"
            value="{{ character.dexterity }}"
            onfocus="this.value=''"
          />
        </div>
        <div class="h-100" style="width:110px;">
          <label
            class="input-group-text text-left"
            style="font-size: 1.7em; text-align: left"
          >
            <i class="fas fa-chair p-2"></i>{{ character.seat }}
          </label>
        </div>
      </div>
        {% endif %} {% endfor %}
        <div class="row row-cols-2 gx-4">
            <div class="col">
        <button
          type="submit"
          class="btn btn-monster btn-lg w-100 {{ add }}"
          name="monster"
          value="add_monster"
          {{ add }}
        >
          <i class="fas fa-skull"></i>
          ADD MONSTER
        </button></div>
        <div class="col">
        <button
          type="submit"
          class="btn btn-npc btn-lg w-100 {{ add }}"
          name="npc"
          value="add_npc"
          {{ add }}
        >
          <i class="fas fa-user"></i>
          ADD NPC
        </button></div></div>
        <!-- for item in players -->
      </div>
    </div>
  </div>

  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{ message }}  
        {% endfor %}
      </div>
      {% endif %} 
    {% endwith %}
  </div>
  <div class="row row-cols-3 p-3" style="height:120px" >
    
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100 h-100"
        name="button"
        value="save"
      ><i class="fas fa-sort"></i>
      SAVE
      </button>
    </div>
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100 h-100"
        name="button"
        value="next"
      ><i class="fas fa-step-forward"></i>
        NEXT
      </button>
    </div>
    <div class="col text-center px-4">
      <button
        type="submit"
        class="btn btn-custom btn-lg w-100 h-100"
        name="button"
        value="reset"
      ><i class="fas fa-power-off"></i>
        RESET
      </button>
    </div>
  </div>
  {% endblock %}
</form>
