{% extends "base.html" %} {% block title %}Init Tracker{% endblock %} {% block
content %}
<h1>Init Tracker</h1>
<form action="#" method="post">
  <div class="row row-cols-2">
    <div class="col">
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Shanko</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon1"
          name="shanko"
          value="{{content.shanko}}"
        />
        <button
          class="btn btn-success"
          type="submit"
          id="button-addon1"
          value=""
        >
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect02"
          >Saelwyn</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon2"
          name="saelwyn"
          value="{{content.saelwyn}}"
        />
        <button class="btn btn-success" type="button" id="button-addon2">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect03"
          >Kaelar</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon3"
          name="kaelar"
          value="{{content.kaelar}}"
        />
        <button class="btn btn-success" type="button" id="button-addon3">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect04"
          >Owl</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon4"
          name="owl"
          value="{{content.owl}}"
        />
        <button class="btn btn-success" type="button" id="button-addon4">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect05"
          >Tree</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon5"
          value="{{content.tree}}"
        />
        <button class="btn btn-success" type="button" id="button-addon5">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect06"
          >Githanmar</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon6"
          value="{{content.gith}}"
        />
        <button class="btn btn-success" type="button" id="button-addon6">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Otadus</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon7"
          value="{{content.otadus}}"
        />
        <button class="btn btn-success" type="button" id="button-addon7">
          Enabled
        </button>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 1</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon8"
          value="{{content.mon1}}"
        />
        <button class="btn btn-success" type="button" id="button-addon8">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 2</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon9"
          value="{{content.mon2}}"
        />
        <button class="btn btn-success" type="button" id="button-addon9">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 3</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon10"
          value="{{content.mon3}}"
        />
        <button class="btn btn-success" type="button" id="button-addon10">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 4</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon11"
          value="{{content.mon4}}"
        />
        <button class="btn btn-success" type="button" id="button-addon11">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 5</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon12"
          value="{{content.mon5}}"
        />
        <button class="btn btn-success" type="button" id="button-addon12">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 6</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon13"
          value="{{content.mon6}}"
        />
        <button class="btn btn-success" type="button" id="button-addon13">
          Enabled
        </button>
      </div>
      <div class="input-group mb-3">
        <label
          class="input-group-text w-25 d-inline-block"
          for="inputGroupSelect01"
          >Monster 7</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="1-10"
          aria-describedby="basic-addon14"
          value="{{content.mon7}}"
        />
        <button class="btn btn-success" type="button" id="button-addon14">
          Enabled
        </button>
      </div>
    </div>
  </div>

  <div class="row row-cols-3">
    <div class="col">
      <button type="submit" class="btn btn-success btn-lg">START</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary btn-lg">RESET</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger btn-lg">NEXT</button>
    </div>
  </div>
</form>
{% endblock %}
